.row-box {
    transition: 0.2s
}

.row-box:hover {
    box-shadow: rgba(100, 100, 111, 0.5) 0 3px 10px;
    transition: 0.2s;
    cursor: pointer;
}

.archived-tag {
    background-color: #ffb70040;
    border: 2px solid #ffb700;
    padding: 1.5px;
    color: #ff9500;
    border-radius: 5px;
    font-size: small;
}
