<div class="container col-xs-12 col-lg-4 mt-5">
  <h1>Create new profile</h1>

  <div>
    <form (ngSubmit)="onRegistration()">
      <div class="mb-3">
        <label for="inputUsername" class="form-label">Username</label>
        <input required type="text" class="form-control" id="inputUsername" name="username"
          [formControl]="inputUsername" [class.is-invalid]="!inputUsername.valid && inputUsername.touched"
          [pattern]="usernamePattern()">
        <div class="invalid-feedback">Invalid username!</div>
      </div>

      <div class="mb-3">
        <label for="inputEmail" class="form-label">Email address</label>
        <input required type="text" class="form-control" id="inputEmail" name="email" [formControl]="inputEmail"
          [class.is-invalid]="!inputEmail.valid && inputEmail.touched" [pattern]="emailPattern()">
        <div class="invalid-feedback">Invalid email address!</div>
      </div>

      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input required multiple type="password" class="form-control" id="inputPassword" name="password"
          [formControl]="inputPassword" [class.is-invalid]="!inputPassword.valid && inputPassword.touched"
          [pattern]="passwordPattern()">
        <div class="invalid-feedback">{{ passwordErrorMsg() }}</div>
      </div>

      <div class="mb-3">
        <label for="inputPasswordAgain" class="form-label">Password again</label>
        <input required multiple type="password" class="form-control" id="inputPasswordAgain"
          name="passwordAgain" [formControl]="inputPasswordAgain"
          [class.is-invalid]="inputPasswordAgain.touched && inputPassword.value !== inputPasswordAgain.value">
        <div class="invalid-feedback">Passwords are mismatched!</div>
      </div>

      <div class="row">
        <div class="col-4">
          <button class="btn btn-primary">Registration</button>
        </div>
        <div class="col-8 text-end">
          <button (mouseup)="login()" class="btn btn-link">Do you already have an account?</button>
        </div>
      </div>
    </form>
  </div>
</div>

@if (error) {
  <app-modal type="error" [text]="error" (onCloseModalEmitter)="removeError()"></app-modal>
}

@if (success) {
  <app-modal type="success" [text]="success" (onCloseModalEmitter)="login()"></app-modal>
}

@if (isFetching) {
  <app-modal type="loading"></app-modal>
}