<div class="container-fluid">
    <div class="row pt-3">
        <div class="col-lg-9 col-xl-10">
            <div class="row">
                <div class="col-sm-6">
                    <h1>{{ season?.name }}
                        <span *ngIf="season?.isArchived" class="gold-tag">archived</span>
                    </h1>
                    <p>Created on {{ this.createdAt }}</p>
                    <div class="d-flex align-items-center mb-3">
                        <button class="btn btn-primary btn-sm" (mouseup)="onFetchData()">Refresh</button>
                        <div class="text-pink me-5 ms-5 d-flex align-items-center" [ngClass]="isLoggedIn ? 'favorite' : ''" (mouseup)="setFavorite(season!)">
                            <i class="bi me-2" [ngClass]="isFavorite(season!) ? 'bi-heart-fill' : 'bi-heart'"></i>
                            {{ season?.favorite }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-select" [formControl]="selectType" (change)="onChange()">
                        <option value="drivers">Drivers</option>
                        <option value="teams">Teams</option>
                        <option value="races">Races</option>
                    </select>
        
                    <select class="form-select mt-3" [formControl]="selectValue" (change)="onChange()">
                        <option value="all" [selected]="true">All</option>
        
                        <ng-template [ngIf]="selectType.value === 'drivers'">
                            <option *ngFor="let option of season?.drivers" [value]="option.id">{{ option.name }}</option>
                        </ng-template>
        
                        <ng-template [ngIf]="selectType.value === 'teams'">
                            <option *ngFor="let option of season?.teams" [value]="option.id">{{ option.name }}</option>
                        </ng-template>
        
                        <ng-template [ngIf]="selectType.value === 'races'">
                            <option *ngFor="let option of season?.races" [value]="option.id">{{ option.name }}</option>
                        </ng-template>
                    </select>
                </div>
            </div>
            
            <div *ngIf="!isFetching" [ngSwitch]="selectType.value" class="container-fluid mb-5">
                <div *ngSwitchCase="'drivers'">
                    <div *ngIf="selectValue.value === 'all'; else elseDiv">
                        <app-driver-all [season]="season!" [driverAll]="getDriverAll()" [hasPermission]="hasPermission()"
                            (onFetchDataEmitter)="onFetchData()"></app-driver-all>
                    </div>
                    <ng-template #elseDiv>
                        <app-driver-result [season]="season!" [driverResults]="getDriverById(selectValue.value)"
                            [driverId]="selectValue.value" [hasPermission]="hasPermission()"
                            (onFetchDataEmitter)="onFetchData()"></app-driver-result>
                    </ng-template>
                </div>
                <div *ngSwitchCase="'teams'">
                    <div *ngIf="selectValue.value === 'all'; else elseDiv">
                        <app-team-all [season]="season!" [teamAll]="getTeamAll()" [hasPermission]="hasPermission()"
                            (onFetchDataEmitter)="onFetchData()"></app-team-all>
                    </div>
                    <ng-template #elseDiv>
                        <app-team-result [teamResults]="getTeamById(selectValue.value)"></app-team-result>
                    </ng-template>
                </div>
                <div *ngSwitchCase="'races'">
                    <div *ngIf="selectValue.value === 'all'; else elseDiv">
                        <app-race-all [season]="season!" [raceAll]="getRaceAll()" [hasPermission]="hasPermission()"
                            (onFetchDataEmitter)="onFetchData()"></app-race-all>
                    </div>
                    <ng-template #elseDiv>
                        <app-race-result [season]="season!" [raceResults]="getRaceById(selectValue.value)"
                            [raceId]="selectValue.value" [hasPermission]="hasPermission()"
                            (onFetchDataEmitter)="onFetchData()"></app-race-result>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xl-2">
            <div *ngIf="this.isLoggedIn && getUserPermission()?.type === 1" class="d-none d-lg-grid gap-2 mt-2">
                <button class="btn btn-outline-primary btn-sm btn-block" (mouseup)="openModal('updateSeason')"
                    *ngIf="!season!.isArchived">Edit</button>
    
                <button class="btn btn-outline-primary btn-sm btn-block"
                    (mouseup)="!season!.isArchived ? openModal('archiveSeason') : archiveSeason()">{{ season!.isArchived ?
                    'Unarchive' : 'Archive' }}</button>
    
                <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="openModal('deleteSeason')"
                    *ngIf="!season!.isArchived">Delete</button>
    
                <hr>
            </div>
            <div *ngIf="this.isLoggedIn && getUserPermission()?.type === 1" class="d-lg-none row">
                <hr>
                <div class="col-4 d-grid">
                    <button class="btn btn-outline-primary btn-sm btn-block" (mouseup)="openModal('updateSeason')"
                    *ngIf="!season!.isArchived">Edit</button>
                </div>
                <div class="col-4 d-grid">
                    <button class="btn btn-outline-primary btn-sm btn-block"
                        (mouseup)="!season!.isArchived ? openModal('archiveSeason') : archiveSeason()">{{ season!.isArchived ?
                        'Unarchive' : 'Archive' }}</button>
                </div>
                <div class="col-4 d-grid">
                    <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="openModal('deleteSeason')"
                        *ngIf="!season!.isArchived">Delete</button>
                </div>

                <hr class="mt-3">
            </div>
    
            <h2 class="mt-3">Moderators</h2>
            <div class="d-lg-grid mb-4">
                <button *ngIf="this.isLoggedIn && getUserPermission()?.type === 1 && !season!.isArchived"
                    class="btn btn-outline-primary btn-sm btn-block" (mouseup)="openModal('createPermission')">
                    Add moderator
                </button>
            </div>
    
            <div *ngFor="let permission of getPermissions()" class="my-2">
                <div>
                    <button
                        *ngIf="this.isLoggedIn && getUserPermission()?.type === 1 && permission.type === 0 && !season!.isArchived"
                        class="btn btn-danger btn-sm d-inline-flex me-1"
                        (mouseup)="openModal('deletePermission', permission.id)">
                        <i class="bi bi-x-lg"></i>
                    </button>
    
                    <app-modal type="form" *ngIf="modal === 'deletePermission' && selectedPermissionId === permission.id">
                        <app-verify-form
        class="text-center" title='Kick "{{ permission.username }}" moderator' executeButtonText="Kick"
                            (executionEmitter)="deletePermission(permission.id)"
                            (closeModalEmitter)="closeModal()"></app-verify-form>
                    </app-modal>
    
                    <button
                        *ngIf="this.isLoggedIn && getUserPermission()?.type === 1 && permission.type === 0 && !season!.isArchived"
                        class="btn btn-primary btn-sm d-inline-flex me-1"
                        (mouseup)="openModal('updatePermission', permission.id)">
                        <i class="bi bi-chevron-up"></i>
                    </button>
    
                    <app-modal type="form" *ngIf="modal === 'updatePermission' && selectedPermissionId === permission.id">
                        <app-verify-form
        class="text-center" title='Promote "{{ permission.username }}" moderator'
                            subtext="You will lose your admin rights!" executeButtonText="Promote"
                            (executionEmitter)="updatePermission(permission.id)"
                            (closeModalEmitter)="closeModal()"></app-verify-form>
                    </app-modal>
    
                    <div *ngIf="permission.type === 1" class="btn btn-warning btn-sm d-inline-flex me-1 disabled">
                        <i class="bi bi-shield-fill"></i>
                    </div>
                    <div class="d-inline-flex me-1"
                        [ngClass]="isLoggedIn && this.user?.username === permission.username ? 'fw-bold' : ''">
                        {{ permission.username }}
                    </div>
                </div>
            </div>
    
            <hr>
    
            <h2>Description</h2>
            <p>{{ season?.description }}</p>
        </div>
    </div>
</div>

<app-modal type="form" *ngIf="modal === 'updateSeason'">
    <app-season-form title="Modify season" executeButtonText="Modify" [selectedSeason]="season"
        (onCloseModalEmitter)="closeModal()" (onFetchDataEmitter)="onFetchData()"></app-season-form>
</app-modal>

<app-modal type="form" *ngIf="modal === 'createPermission'">
    <h1>Add moderator</h1>
    <form #postForm="ngForm" (ngSubmit)="this.createPermission(postForm)">
        <div class="mb-3">
            <label for="inputUsernameEmail" class="form-label">Username or E-mail</label>
            <input required type="text" class="form-control" id="inputUsernameEmail" ngModel name="usernameEmail"
                #usernameEmail="ngModel" [class.is-invalid]="!usernameEmail.valid && usernameEmail.touched"
                [class.is-valid]="usernameEmail.valid">
            <div class="invalid-feedback">Username or E-mail is required</div>
        </div>

        <div class="row d-flex text-center">
            <div class="col-6">
                <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="closeModal()">Cancel</button>
            </div>
            <div class="col-6">
                <button class="btn btn-primary btn-sm btn-block">Add</button>
            </div>
        </div>
    </form>
</app-modal>

<app-modal type="form" *ngIf="modal === 'deleteSeason'">
    <app-verify-form
        class="text-center" title='Delete "{{ season?.name }}" season' executeButtonText="Delete"
        (executionEmitter)="deleteSeason()" (closeModalEmitter)="closeModal()"></app-verify-form>
</app-modal>

<app-modal type="form" *ngIf="modal === 'archiveSeason'">
    <app-verify-form
        class="text-center" title='Archive "{{ season?.name }}" season' executeButtonText="Archive"
        (executionEmitter)="archiveSeason()" (closeModalEmitter)="closeModal()"></app-verify-form>
</app-modal>

<app-modal type="loading" *ngIf="isFetching"></app-modal>

<app-modal type="error" *ngIf="error" [text]="error" (onCloseModalEmitter)="removeError()"></app-modal>
