@if (isFetching) {
  <app-modal type="loading"></app-modal>
}

<div class="container col-lg-4 offset-lg-4 mt-4">
  <h1>Settings</h1>

  <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <input required type="text" class="form-control" id="inputUsername" name="username"
      [formControl]="inputUsername" [class.is-invalid]="!inputUsername.valid && inputUsername.touched"
      [pattern]="usernamePattern()" [attr.disabled]="!edit ? '' : null">
    <div class="invalid-feedback">Invalid username</div>
  </div>

  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input required type="text" class="form-control" id="inputEmail" [formControl]="inputEmail" name="email"
      [class.is-invalid]="!inputEmail.valid && inputEmail.touched" [pattern]="emailPattern()"
      [attr.disabled]="!edit ? '' : null">
    <div class="invalid-feedback">Invalid email address</div>
  </div>

  @if (!edit) {
    <div class="d-grid">
      <button class="btn btn-outline-primary btn-sm" (mouseup)="setEdit(true)">Edit</button>
      <button class="btn btn-outline-primary btn-sm mt-2" (mouseup)="openModal('updatePassword')">Change
      password</button>
      <button class="btn btn-outline-danger btn-sm mt-2" (mouseup)="openModal('deleteUser')">Delete</button>
    </div>
  } @else {
    <div class="row">
      <div class="col-6 d-flex flex-column">
        <button class="btn btn-outline-danger btn-sm" (mouseup)="onCancel()">Cancel</button>
      </div>
      <div class="col-6 d-flex flex-column">
        <button class="btn btn-primary btn-sm" (mouseup)="updateUser()">Confirm</button>
      </div>
    </div>
  }

</div>

@if (modal === 'updatePassword') {
  <app-modal type="form">
    <h1>Change password</h1>
    <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword()">
      <div class="mb-3">
        <label for="inputPasswordOld" class="form-label">Old password</label>
        <input required multiple type="password" class="form-control" id="inputPasswordOld" formControlName="inputPasswordOld"
          name="password" [class.is-invalid]="!updatePasswordForm.get('inputPasswordOld')!.valid && updatePasswordForm.get('inputPasswordOld')!.touched">
        <div class="invalid-feedback">Old password is required!</div>
      </div>
      <div class="mb-3">
        <label for="inputPassword" class="form-label">Password</label>
        <input required multiple type="password" class="form-control" id="inputPassword" formControlName="inputPassword"
          name="password" [class.is-invalid]="!updatePasswordForm.get('inputPassword')!.valid && updatePasswordForm.get('inputPassword')!.touched"
          [pattern]="passwordPattern()">
        <div class="invalid-feedback">{{ passwordErrorMsg() }}</div>
      </div>
      <div class="mb-3">
        <label for="inputPasswordAgain" class="form-label">Password again</label>
        <input required multiple type="password" class="form-control" id="inputPasswordAgain"
          formControlName="inputPasswordAgain" name="passwordAgain"
          [class.is-invalid]="updatePasswordForm.get('inputPasswordAgain')!.touched && updatePasswordForm.get('inputPassword')!.value !== updatePasswordForm.get('inputPasswordAgain')!.value">
        <div class="invalid-feedback">Passwords are mismatched!</div>
      </div>
      <div class="row d-flex text-center">
        <div class="col-6">
          <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="closeModal()">Cancel</button>
        </div>
        <div class="col-6">
          <button class="btn btn-primary btn-sm btn-block">Confirm</button>
        </div>
      </div>
    </form>
  </app-modal>
}

@if (modal === 'deleteUser') {
  <app-modal type="form">
    <app-verify-form
      class="text-center" title='Delete your profile' executeButtonText="Delete" (executionEmitter)="deleteUser()"
    (closeModalEmitter)="closeModal()"></app-verify-form>
  </app-modal>
}

@if (error) {
  <app-modal type="error" [text]="error" (onCloseModalEmitter)="removeError()"></app-modal>
}
