<h1>{{ title }}</h1>
<form #postForm="ngForm" (ngSubmit)="selectedSeason == undefined ? this.createSeason(postForm) : this.updateSeason(selectedSeason!.id, postForm)">
    <div class="mb-3">
        <label for="inputName" class="form-label">Name</label>
        <input required type="text" class="form-control" id="inputName" [ngModel]="selectedSeason?.name" name="name" #name="ngModel"
            [class.is-invalid]="!name.valid && name.touched" [class.is-valid]="name.valid">
        <div class="invalid-feedback">Name is required</div>
    </div>

    <div class="mb-3">
        <label for="inputDescription" class="form-label">Description</label>
        <textarea class="form-control" id="inputDescription" rows="5" [ngModel]="selectedSeason?.description" name="description" #name="ngModel"></textarea>
    </div>

    <div class="row d-flex text-center">
        <div class="col-6">
            <button class="btn btn-outline-danger btn-sm btn-block" (mouseup)="closeModal()">Cancel</button>
        </div>
        <div class="col-6">
            <button class="btn btn-primary btn-sm btn-block">{{ executeButtonText }}</button>
        </div>
    </div>
</form>

<app-modal type="error" *ngIf="error" [text]="error" (onCloseModalEmitter)="removeError()"></app-modal>

<app-modal type="loading" *ngIf="isFetching"></app-modal>
